[Unit]
Description=Nomad server
Documentation=https://www.nomadproject.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
EnvironmentFile=-{{ nomad.remote.server.root_dir }}/server.env
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre={{ nomad.remote.server.root_dir }}/server-config.sh
ExecStart=/usr/bin/nomad agent -config {{ nomad.remote.server.root_dir }}/config-parsed.hcl
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
