node_modules
id_rsa*
.vagrant
ansible/keys/nomad/*.key
ansible/keys/nomad/tls/ca/*[.pem, .csr]
ansible/keys/nomad/tls/*/*[.pem, .csr]

ansible/keys/consul/*.key
ansible/keys/consul/tls/*/*.pem

ansible/keys/vault/tls/ca/*[.pem, .csr]
ansible/keys/vault/*.key
ansible/keys/vault/tls/*/*.pem

*.pem
*.csr
*.key
pulumi/Pulumi.*

node_modules/
