[Unit]
Description=Vault Agent
Requires=consul-server.service docker.service
After=consul-server.service

[Service]
User=vault
Group=vault
Restart=on-failure
PermissionsStartOnly=true
ExecStartPre={{ vault.remote.server.root_dir }}/server-config.sh
ExecStart=/usr/bin/vault server -config {{ vault.remote.server.root_dir }}/config-parsed.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
