[Unit]
Description=Vault Agent
Requires=consul-server.service
After=consul-server.service

[Service]
User=vault
Group=vault
Restart=on-failure
PermissionsStartOnly=true
EnvironmentFile=-{{ vault.remote.server.root_dir }}/server.env
ExecStartPre=/sbin/setcap 'cap_ipc_lock=+ep' /usr/bin/vault
ExecStart=/usr/bin/vault server -config {{ vault.remote.server.root_dir }}/config.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
